[Unit]
Description=social fastapi application
After=network.target

[Service]
User=benson
Group=benson
WorkingDirectory=/home/benson/app/src/
Environment="PATH=/home/benson/app/venv/bin"
EnvironmentFile=/home/benson/.env
ExecStart=/home/benson/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target